<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tabs1" data-toggle="tab" class="btn-large" >Curso1</a></li>
    <li><a href="#tabs2" data-toggle="tab" class="btn-large" >Curso2</a></li>
    <li><a href="#tabs3" data-toggle="tab" class="btn-large" >Curso3</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tabs1">
      Descrição do servico 1
    </div> 
    <div class="tab-pane" id="tabs2">
      Descrição do servico 2
    </div> 
    <div class="tab-pane" id="tabs3">
      
      <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#course1" data-toggle="tab" class="btn-large" >Curso1</a></li>
        <li><a href="#course2" data-toggle="tab" class="btn-large" >Curso2</a></li>
        <li><a href="#course3" data-toggle="tab" class="btn-large" >Curso3</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="course1">
          Descrição do curso 1
        </div> 
        <div class="tab-pane" id="course2">
          Descrição do curso 2
        </div> 
        <div class="tab-pane" id="course3">
          Descrição do curso 3


          
        </div> 
      </div>
    </div>


    </div> 
  </div>
</div>