/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";

.divbody{
	margin-top:60px;
	padding-left:30px;
	padding-right:30px;
}

.btn-service-title{
	width:78%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.btn-service-title2{
	width:77%;
	margin-left:3%;
	max-width:77%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.btn-course-title{
	width:70%;
	max-width:70%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.btn-service-no-info{
	opacity:0.65;
}

.table tbody td.know0{
    background-color: #2f96b4;
}
.table tbody td.know1{
    background-color: #0044cc;
}
.table tbody td.know2{
    background-color: #51a351;
}
.table tbody td.know3{
    background-color: #f89406;
}
.table tbody td.know4{
    background-color: #bd362f ;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.table-legend{
	width:50%;
}